{
   
      padding: 0%;
      margin:0%;
      box-sizing: border-box;
      font-family:"Arial" ;

}

header{
width: 100%;
height: 100vh;
 background-image: url("gallery/cn_pub_radio.jpeg");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
   clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%); 



}






section{
    width: 100%;
height: 100vh;
font-size: 25px;
color: rgb(80,80,80);
line-height: 32px;
padding: 10%;
display: flex;
place-items: center;
align-items: center;
}

body{
    width: 100%;
    min-height: 100vh;
    display:flex;
    align-items:center;
    justify-content: center ;
     
}

a{

font-size: 24px;
background-color: rgb(255, 66,104);
color: white;
padding: 10px 20px;
border-radius: 5px;
text-decoration: none;
border: 1px solid rgb(255, 66,104);
border-left: 10px solid rgb(255, 115,142);
transition: all 0.25s ease-in-out;
}

a:hover{

color: rgb(255, 66,104);
background-color: white;

}
